.color-example {
    color: yellow;
    background-color: #FF0000;
    border: 2px solid pink;
}

.header-example {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    color: darkred;
}

.list-example {
    list-style-type: square;
    color: purple;
}

.text-example {
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    text-transform: capitalize;
    text-decoration: underline;
}

.div-example {
    background-color: #054522;
    border: 2px solid rgb(125, 9, 9);
}
